<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Alphabet</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>

<body>

  <h1 id="title">Alphabet</h1>

  

  <div class="set">
    <button class="a tile"><a href="letters/Aa">Aa</a></button>
    <button class="b tile"><a href="letters/Bb">Bb</a></button>
    <button class="c tile"><a href="letters/Cc">Cc</a></button>
    <button class="d tile"><a href="letters/Dd">Dd</a></button>
    <button class="e tile"><a href="letters/Ee">Ee</a></button>
    <button class="f tile"><a href="letters/Ff">Ff</a></button>
  </div>
  <div class="set">
    <button class="q tile"><a href="letters/Gg">Gg</a></button>
    <button class="w tile"><a href="letters/Hh">Hh</a></button>
    <button class="e tile"><a href="letters/Ii">Ii</a></button>
    <button class="r tile"><a href="letters/Jj">Jj</a></button>
    <button class="i tile"><a href="letters/Kk">Kk</a></button>
    <button class="o tile"><a href="letters/Ll">Ll</a></button>
  </div>
  <div class="set">
    <button class="q tile"><a href="letters/Mm">Mm</a></button>
    <button class="w tile"><a href="letters/Nn">Nn</a></button>
    <button class="e tile"><a href="letters/Oo">Oo</a></button>
    <button class="r tile"><a href="letters/Pp">Pp</a></button>
    <button class="i tile"><a href="letters/Qq">Qq</a></button>
    <button class="o tile"><a href="letters/Rr">Rr</a></button>
  </div>
  <div class="set">
    <button class="q tile"><a href="letters/Ss">Ss</a></button>
    <button class="w tile"><a href="letters/Tt">Tt</a></button>
    <button class="e tile"><a href="letters/Uu">Uu</a></button>
    <button class="r tile"><a href="letters/Vv">Vv</a></button>
    <button class="i tile"><a href="letters/Ww">Ww</a></button>
    <button class="o tile"><a href="letters/Xx">Xx</a></button>
  </div>
  <div class="set">
    <button class="q tile"><a href="letters/Yy">Yy</a></button>
    <button class="w tile"><a href="letters/Zz">Zz</a></button>
  </div>
  
  <footer>
    Created by Oli's Dad
  </footer>
  <script src="app.js"></script>
</body>

</html>
